.body {
  background-color: ;
}

.body2 {
  background-color: #f2f2f2;
}

.topheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #333333;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 0;
}

.name {
  text-align: center;
}

.title {
  font-size: 40px;
  padding-top: 15px;
  font-weight: bold;
}

.subTitle {
  font-size: 20px;
}

.hometextTitle {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.hometext {
  font-size: 20px;
  text-align: left;
}

.textbox {
  padding-left: 2%;
  padding-right: 2%;
}

.footer {
  background-size: cover;
  background-color: #cccccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.footer1 {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.footnote2 {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.footnote3 {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding-left: 20px;
}

.allrights {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
  text-align: center;
  font-size: 15px;
  padding-bottom: 10px;
}

.tableInfo {
  display: flex;
  justify-content: center;
}

.infoText {
  text-align: center;
}

.Iconset {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.Iconset:hover{
  animation: shake 1.5s linear;
}

@keyframes shake {
  0%{
    transform: translate(0px,0px) rotate(0deg);
  }
  25%{
    transform: translate(1px,1px) rotate(1deg);
  }
  50%{
    transform: translate(-1px,-1px) rotate(-1deg);
  }
}

.homemobiletext {
  padding-top: 12px;
}

.mobilefooter {
  background-color: #cccccc;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.mobilefooter1 {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
}

.mobilefootnote2 {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.mobilefootnote3 {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
